h1 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color: white;    
}

span {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    color: hsl(0, 0%, 59%);
}

p {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    color: black;
}

input {
    min-width: 300px;
    padding: .5em 0 .5em 1em;
    border-radius: 10px 0 0 10px;
}

input::placeholder {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;    
}

button {
    color: white;
    background-color: black;
    border-radius: 0 10px 10px 0;
    padding: .5em 1em;
}

#bg-image {
    width: 100%;
    min-height: 270px;
}

.error {
    color: red;
}

/* LAYOUT */

#app {
    display: flex;
    flex-direction: column;
    position: relative;
}

#bg {
    max-height: 270px;
}

#map {
    height: 100vh;
}

#ip-tracker-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 4em;
    z-index: 999;
}

#info {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    width: 70%;
    margin-top: 40px;
    padding: 2em;
    border-radius: 10px;
}

#info div {
    text-align: left;
}

#info div:not(:last-child) {
    padding-right: 5em;
    border-right: 1px solid hsl(0, 0%, 59%);
}

/* EVENTS */

button:hover {
    cursor: pointer;
    background-color: hsl(0, 0%, 17%);
    border-color: hsl(0, 0%, 17%);
}

/* MEDIA QUERIES */
@media screen and (max-width: 750px) {
    #info {
        flex-direction: column;
        width: 40%;
    }

    #info div:not(:last-child) {
        padding-bottom: 1em;
        padding-right: 0;
        border-right: 0;
    }
    
    #info div {
        text-align: center;
    }

    #map {
        height: 800px;
    }
}